.account-employees-data__registration {
    min-width: 152px;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7B878F;
}