.employees__sheet_btn{
border: none;
width: 24px;
height: 24px;
background-color: transparent;
cursor: pointer;
}

@media screen and (max-width: 900px) {
	.employees__sheet_btn{
		display: none;
	}
}


